<div class="page-header">

<h2 class="text-center"> hi chakri vyas.  this is page header </h2>


</div>

<div class="container">

<div class="jumbotron">


<h2> namaskara bangalore  </h2>


</div>
</div>



<div class="well well-sm">Small Well</div>


kjvdjkvjdsbj


</div>








<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<%= cache do %>

<table class="table table-dark">
  <thead>
    <tr>
      <th>CityNames</th>

    </tr>
  </thead>

  <tbody>
    <%= render  @cities %>
  </tbody>
</table>

<% end %>
<br>

<%= link_to 'New Detail', new_city_path %>
